
.icon-bar {
    position: fixed;
    top: 50%;
    right: 0;
    color: white;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); 
}
.icon-bar a {
    display: block;
    text-align: center;
    padding: 10px 5px;
    height: 5em;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    margin-left: 30px;
    margin-right: -.25rem;
    transform: translateY(-50%);
    background-color: black;
    z-index: 1031;
    border-radius: 8px 0 0 8px;
}

.add-sticky {
    background: #DCDCDC;
    color: black;
    opacity: .5;
    box-shadow: 0 0 2rem 0 rgba(53,64,82,.1);;
}

#content {
    width: 100%;
    padding: 10px;
    min-height: 100vh;
    transition: all 0.3s;
}