<div class="sidenav" [class]="{'toggle': navService.toggle}">
    <div class="card">
        <div class="card-header">
            Featured
            <span href="javascript:void(0)" class="closebtn" (click)="navService.close();">&times;</span>
          </div>
          <div class="card-body pt-0 pb-0" *ngIf="showDefault">
              <app-nav-default></app-nav-default>
          </div>
          <div class="card-body pt-0 pb-0">
            <ng-template appLoadComponent></ng-template>
          </div>
    </div>
</div>