<div class="sidenav" [class]="{'toggle': globalService.toggleNavbar}">
    <a href="javascript:void(0)" class="closebtn d-block d-lg-none" 
        [class]="{'d-none': globalService.toggleNavbar}"
        (click)="globalService.toggleNavbar = !globalService.toggleNavbar">&times;</a>
    <div class="navbar-brand-wrapper">
        <a class="navbar-brand" href="#">
            <img src="https://www.evaerp.com/helpers/img/icons/eva.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <span class="nav-label">SGI</span>
        </a>
    </div>
    <div class="dropdown-divider"></div>
    
    <div *ngFor="let menuGroup of menuList | groupBy: 'group'">
        <div class="nav-item dropdown" *ngIf="menuGroup.value.length > 1">
            <a class="nav-link  dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown">
                <i class="fa" [ngClass]="'fa-arrow-left'" aria-hidden="true"></i>
                <span class="nav-label">{{menuGroup.key}}</span></a>
             <ul class="dropdown-menu">
                 <li *ngFor="let menu of menuGroup.value">
                    <a routerLinkActive="active" [routerLink]="['/', menu.path]">
                        <i class="fa" [ngClass]="menu.icon" aria-hidden="true"></i>
                    <span class="nav-label">{{menu.name}}</span></a>
                </li>
             </ul>
         </div>
        <div *ngIf="menuGroup.value.length == 1">
            <a routerLinkActive="active" [routerLink]="['/', menuGroup.value[0].path]">
                <i class="fa" [ngClass]="menuGroup.value[0].icon" aria-hidden="true"></i>
                <span class="nav-label">{{menuGroup.value[0].name}}</span>
            </a>
        </div>
    </div>

    <a class="bottom-short-brand" style="border: black;" [class]="{'toggle': globalService.toggleNavbar}" target="_blank" href="">SGI</a>
</div>