.sidenav {
    height: 100%;
    width: 4.25rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: auto;
    transition: 0.5s;
    border-radius: 5px;
    box-shadow: 0 0 2rem 0 rgba(53,64,82,.1);
    
}
.sidenav.toggle {
  width: 14.25rem;
}
.sidenav .nav-label {
  display: none;
}
.dropdown-container {
  display: none;
  padding-left: 8px;
}
.dropdown-container.active {
  display: block;
}
.sidenav.toggle .nav-label {
  display: inline-block;
  font-size: 0.85em;
  padding: 1px .65rem;
  padding-top: .45rem;
}
.sidenav a {
  padding: .5rem .75rem;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  text-align: left;
  transition: 0.3s;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
}
.sidenav i {
  padding: .5rem;
}
.sidenav a.active{
  border-left-color: lightsalmon;
  border-width: 5px;
  border-style: solid;
  color: #377dff;
}
.sidenav a.active i {
  color: #377dff;
}

.toggle-menu {
  padding-left:14.25rem;
}
.sidenav .closebtn {
  position: absolute;
  top: -18px;
  right: 0px;
  font-size: 36px;
  margin-left: 50px;
}
.navbar-brand-wrapper {
  align-items: center;
  height: 3.75rem;
  padding-top: .75rem;
}
.bottom-short-brand {
    /* margin: 5px auto; */
    text-decoration: none;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 4.25rem;
    border: none;
    transition: .5s;
    justify-content: center;
    background-color: white;
}
.bottom-short-brand.toggle {
  width:14.25rem;
  transition: .5s;
  border: none;
}
@media screen and (max-width: 1023px) {
    .sidenav {
        width: 0;
    }
}
.sidenav .dropdown-menu.show { display: contents; }

.sidenav .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: .255em;
  content: "\205E";
  margin-top: 8px;
  font-size: xx-large;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
.sidenav.toggle .dropdown-toggle::after {
  margin-left: 3em;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}