<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand d-block d-lg-none" href="#">
    <img src="https://www.evaerp.com/helpers/img/icons/eva.png" width="30" height="30" class="d-inline-block align-top" alt="">
    SGI
  </a>
  <a class="d-block d-lg-none" [class]="{'toggle': globalService.toggleNavbar}" 
          (click)="globalService.toggleNavbar = !globalService.toggleNavbar">
          <i class="fa" [class]="{'fa-arrow-right': !globalService.toggleNavbar, 'fa-arrow-left': globalService.toggleNavbar}" style="border-right: black solid;" aria-hidden="true"></i>
  </a>
  
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav form-inline my-lg-0">
      <li>
        <a class="search-padding" [class]="{'toggle': globalService.toggleNavbar}" 
          (click)="globalService.toggleNavbar = !globalService.toggleNavbar">
          <i class="fa"  [class]="{'fa-arrow-right': !globalService.toggleNavbar, 'fa-arrow-left': globalService.toggleNavbar}" 
          style="border-right: lightslategrey solid; color: lightslategrey;" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <div class="input-group rounded-border ml-3">
          <div class="input-group-prepend search-input">
            <div class="input-group-text bg-white border-white" id="btnGroupAddon"><i class="fa fa-search" aria-hidden="true"></i></div>
          </div>
          <input type="text" class="form-control border-white search-input" placeholder="Search in items" aria-label="Search items" aria-describedby="btnGroupAddon">
        </div>
      </li>
    </ul>
  </div>

  <div class="form-inline my-2 my-lg-0">
    <div class="btn-group">
      <a class="nav-link" href="#"><i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i></a>
    </div>
    <div class="btn-group">
      <a class="nav-link" href="#"><i class="fa fa-bell-o fa-1_5x" aria-hidden="true"></i></a>
    </div>
    <div class="btn-group">
      <a class="nav-link" href="void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-th-large fa-1_5x"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <button class="dropdown-item" (click)="openNav('lead');" type="button">Create Lead</button>
        <button class="dropdown-item" (click)="openNav('dashboard');" type="button">Create Dashboard</button>
        <button class="dropdown-item" type="button">Something else here</button>
      </div>
    </div>
    
    <div class="btn-group">
        <img src="https://www.helpscout.com/images/blog/steve-jobs.jpg" alt="Avatar" class="avatar ml-2" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="dropdown-menu dropdown-menu-right">
          <div class=" dropdown-item media align-items-center">
            <img class="avatar avatar-sm avatar-circle mr-2 ml-0" src="https://www.helpscout.com/images/blog/steve-jobs.jpg" alt="Image Description">
            <div class="media-body"><span class="card-title h5">Arunkumar N</span><span class="card-text">arunkumar@gmail.com</span></div>
          </div>            
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" type="button">Edit Profile</button>
          <button class="dropdown-item" type="button">Change Password</button>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" type="button"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign out</button>
        </div>
    </div>
  </div>
</nav>