.avatar {
  max-width: 40px;
  max-height: 40px;
  width: 3.1875rem;
  height: 3.1875rem;
  border-radius: 50%;
  margin:5px;
}
.avatar-sm {
  width: 2.1875rem;
  height: 2.1875rem;
}
.search-padding {
  padding-left:4.25rem;
  transition: 0.5s;
}
.search-padding.toggle {
  padding-left:14.25rem;
}
.search-input:hover {
  background-color: #f6f7fa;
}

.avatar-circle {
  border-radius: 50%;
}
.h5, h5 {
  font-size: .875rem;
}
.display-flex {
  display: flex;
}
.display-flex > img {
  width: 30%;
}
.display-flex > div {
  width: 60%;
  font-size: small;
}
.card-title {
  display: block;
  color: #1e2022;
  margin-bottom: 0;
}
.card-text {
  display: block;
  color: #677788;
  font-size: 0.6725rem;
}
.rounded-border {
  border-radius: 5%;
}
